@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	color: #956962;
	
}
body{
	background-color: #F8E5DF;
	margin: auto;/*Centra la caja automaticamente en horizontal*/
}
header{
	text-align: center;
	background-color: #B59CD9;
}

.flexcont1{
	flex-direction: column;
	display: flex;
	align-items: center;
}

#text1{
	width: 100;
	margin: 50;
	font-weight: bold;
	font-size: 56px;
	text-align: left;
    flex-direction: c;
	flex: 7;
}

#img1{
	flex-direction: c;
    padding: 30px;
	flex-wrap: wrap;
	flex: 4;
}


footer{
    width: 100%;
    padding: 10px;
    background-color: #FBBE87;
    text-align: center;
    margin-top: 70px;
    color: #956962;
    margin-right: 20px;
    margin-left: 20px;
}

footer img{
    margin:13px;
    transition: transform .2s; /* Animation */
}

footer img:hover{
    transform: scale(0.6);
}

h1{
	font-size: 80px;
	color: #9470A2;
}

@media screen and (min-width:640px){
	
	body{
        margin-left: 70px;
        margin-right: 70px;
    }

    header{
        flex-direction: column;
    }

    .flexcont1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
	}
	
@media screen and (min-width:1024px){
	
	.flexcont1{
        flex-direction: row;
	}